@model IEnumerable<EmpowerHealthyStudents.Models.Event>

@{
    ViewData["Title"] = "AdminIndex";
}

<h1 class="text-center font-weight-bold">List of Events</h1>

<p>
    <a class="btn-light-grey btn" asp-action="Create">Add Event</a>
</p>
<table class="table font-weight-bold">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Location)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
           
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Location)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td class="eventEditDelete">
                <div>
                    <a class="nav-link btn btn-light-grey" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                </div>
                <br />
                <div>
                   <a class="nav-link btn btn-light-grey" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </div>
            </td>
        </tr>
}
    </tbody>
</table>
