@model EmpowerHealthyStudents.Models.BlogPost;
@using Microsoft.AspNetCore.Identity;
@inject UserManager<ApplicationUser> userMan;


@{
    ViewData["Title"] = "Details";
}
<h1>April's Blog</h1>
<br />
@if (@Model.UserId == userMan.GetUserId(User) || ViewBag.IsAdmin == true)
{
   <div class="blogPost-edit-delete">
    <button>
        <a asp-controller="BlogPosts" asp-action="Edit" asp-route-id="@Model.Id">Edit</a> 
    </button>
    <button>
        <a asp-controller="BlogPosts" asp-action="Delete" asp-route-id="@Model.Id">Delete</a>
    </button>
   </div>

}

<div class="card mb-3">
    <h3 class="card-header blogPost-header"> @Html.DisplayFor(model => model.Title)</h3>
    <div class="card-body">
        <h5 class="card-title"> @Html.DisplayFor(model => model.Date)</h5>
    </div>
    <div class="card-body">
        <p class="card-text">@Html.DisplayFor(model => model.Blog)</p>
    </div>
    <hr />
    <ul class="list-group list-group-flush">
        @foreach (var comment in Model.Comments.OrderByDescending(c => c.Date))
        {



            <li class="list-group-item">
                <p>
                    @Html.DisplayFor(modelitem => comment.User.FirstName): @Html.DisplayFor(modelItem => comment.Text)
                </p>
                <p>
                    @Html.DisplayFor(modelItem => comment.Date)
                </p>
                @if (comment.UserId == userMan.GetUserId(User) || ViewBag.IsAdmin == true)
                {
                  <div class="comments-edit-delete">
                    <button>
                        <a asp-controller="Comments" asp-action="Edit" asp-route-id="@comment.Id">Edit</a> 
                    </button>
                    <button>
                        <a asp-controller="Comments" asp-action="Delete" asp-route-id="@comment.Id">Delete</a>
                    </button>
                  </div>
                }
            </li>
        }
    </ul>
    <div class="card-body">
        @if (User.Identity.IsAuthenticated || ViewBag.IsAdmin == true)
        {
            <div>
                <button class="add-comment">
                    <a asp-route-id="@Model.Id" asp-controller="Comments" asp-action="Create">Add Comment</a>
                </button>
            </div>

        }
    </div>
    <div class="card-footer text-muted">
        <a asp-action="Index">Back to List</a>  
    </div>
</div>
