@model IEnumerable<EmpowerHealthyStudents.Models.BlogPost>

@{
    ViewData["Title"] = "Index";
}

<h1>Blog Posts</h1>


<table class="table">
    <thead>
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.Title)
            </td>
            <th>
                @Html.DisplayNameFor(model => model.Blog)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>



            <th></th>
        </tr>
    </thead>
    <tbody>
        <body>
            @foreach (var item in Model)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Blog)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a>
                </td>
            </tr>
            }

        </body>
    </tbody>
</table>
