@model IEnumerable<EmpowerHealthyStudents.Models.Product>

@{
    ViewData["Title"] = "AdminIndex";
}

@*<h1>April's Curriculum</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                <a asp-controller="Products" asp-action="Details" asp-route-id="@item.Id">@Html.DisplayFor(modelItem => item.Name)</a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            @if (String.IsNullOrEmpty(@item.Image))
            {
                <td>
                    <img src="~/images/LogoMakr_0Vw3E3.png" style="max-height: 75px; max-width: 75px;" />
                </td>
            }
            else
            {

                
                <td>
                    <img src="~/images/@item.Image" alt="" style="max-height: 75px; max-width: 75px;" />

                </td>
                
                

            }
        </tr>
}
    </tbody>
</table>*@
