@model EmpowerHealthyStudents.Models.Product;
@using Microsoft.AspNetCore.Identity;
@inject UserManager<ApplicationUser> userMan;

@{
    ViewData["Title"] = "Details";
}

    <div>
       
        
          <div class="curriculum-edit-delete">
            @if (@Model.UserId == userMan.GetUserId(User) || ViewBag.IsAdmin == true)
            {
                <div>
                    <a class="btn btn-light-grey productEdit" asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
                </div>
                <div>
                    <a class="btn btn-light-grey productDelete" asp-action="Delete" asp-route-id="@Model.Id">Delete</a>
                </div>
            }
           </div>

            <div class="card mb-3">
                <h3 class="card-header text-center"> @Html.DisplayFor(model => model.Name)</h3>
            </div>
            
            
            <div class="image-desc">

                @if (String.IsNullOrEmpty(@Model.Image))
                {
                    <div>
                        <img src="~/images/LogoMakr_0Vw3E3.png" style="max-height: 150px; max-width: 150px;" />
                    </div>
                }
                else
                {

                    <td>
                        <img src="~/images/@Model.Image" alt="" style="max-height: 150px; max-width: 150px;" />
                    </td>

                }


            <div class="card-body">
                <h6 class="card-title Subjects">Subject:@Html.DisplayFor(model => model.Subject)</h6>
                <h6 class="card-title Grades">Grades:@Html.DisplayFor(model => model.Grade)</h6>
                <h6 class="card-title Types">Type:@Html.DisplayFor(model => model.FileType)</h6>
            </div>
            </div>

            <div class="card-body">
                <p>
                    @Html.DisplayNameFor(model => model.Description)
                </p>
            </div>

                <div class="card-body">
                    <p>
                        @if (User.Identity.IsAuthenticated || ViewBag.IsAdmin == true)
                    {
                            
                                <a class="btn btn-orange" href="~/files/@Model.File" target="_blank">Click Here To Download</a>
                            
                        }
                        </p>
                        
                </div>
                <hr />
              
                <ul class="list-group list-group-flush">
                    @foreach (var review in Model.ProductReviews)
                    {

                       <p>
                        <li class="list-group-item comment-edit-delete">
                            <p>
                                @Html.DisplayFor(modelitem => review.User.FirstName): @Html.DisplayFor(modelItem => review.Comment)
                            </p>
                            <div class="review-edit-delete">
                                <div>
                                @if (review.UserId == userMan.GetUserId(User) || ViewBag.IsAdmin == true)
                                    {
                                            <a class="btn btn-orange reviewEdit" asp-controller="ProductReviews" asp-action="Edit" asp-route-id="@review.Id">Edit</a>
                                    }
                                </div>
                                <div>
                                    @if (review.UserId == userMan.GetUserId(User))
                                     {
                                        <a class="btn btn-orange reviewDelete" asp-controller="ProductReviews" asp-action="Delete" asp-route-id="@review.Id">Delete</a>
                                           
                                    }
                                 </div>
                                        
                                </div>
                        </li>
                       </p>


                    }
                </ul>
                

                <div class="card-footer">
                    @if (User.Identity.IsAuthenticated || ViewBag.IsAdmin == true)
                {

                        <a class="btn btn-light-grey" asp-route-id="@Model.Id" asp-controller="ProductReviews" asp-action="Create">Add Review</a>
                    }
                </div>
            </div>

            <div>
                <a class="btn btn-light-grey" asp-action="Index">Back to List</a>
            </div>
        </div>



           

