@model EmpowerHealthyStudents.Models.Product
@using Microsoft.AspNetCore.Identity;
@inject UserManager<ApplicationUser> userMan;

@{
    ViewData["Title"] = "Details";
}

<div>
    <h4>Product</h4>
    <td>
        @if (@Model.UserId == userMan.GetUserId(User) || ViewBag.IsAdmin == true)
        {
            
            <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
            <a asp-action="Delete" asp-route-id="@Model.Id">Delete</a>
        }

    </td>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>


        <dd class="col-sm-10">
            <img src="~/images/@Model.Image" style="max-height: 75px; max-width: 75px;" />
        </dd>
        <tbody>
            <td>
            <tr>
                <td>
                    @if (@Model.UserId == userMan.GetUserId(User) || ViewBag.IsAdmin == true)
                    {
                        <a href="~/images/@Model.File" target="_blank">Click Here To Download</a>
                        <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
                        <a asp-action="Delete" asp-route-id="@Model.Id">Delete</a>
                    }

                </td>
            </tr>

        </tbody>
        <dd class="col-sm-10">
            @foreach (var review in Model.ProductReviews)
            {
            <dd class="col-sm-10">
                @Html.DisplayFor(modelitem => review.User.FirstName): @Html.DisplayFor(modelItem => review.Comment)
            </dd>
            <td>

                @if (review.UserId == userMan.GetUserId(User) || ViewBag.IsAdmin == true)
                {

                    <a asp-controller="ProductReviews" asp-action="Delete" asp-route-id="@review.Id">Delete</a> <a asp-controller="ProductReviews" asp-action="Edit" asp-route-id="@review.Id">Edit</a>

                }

            </td>

        }

            @if (User.Identity.IsAuthenticated || ViewBag.IsAdmin == true)
            {

                <a asp-route-id="@Model.Id" asp-controller="ProductReviews" asp-action="Create">Add Comment</a>
            }


        </dl>
    </div>
<div>
    <a asp-action="Index">Back to List</a>
</div>




