@model IEnumerable<EmpowerHealthyStudents.Models.Product>
@using Microsoft.AspNetCore.Identity;
@inject UserManager<ApplicationUser> userMan;

@{
    ViewData["Title"] = "Index";
}

<h1 class="text-center">Curriculum</h1>

<div>
    @if (ViewBag.IsAdmin == true)
    {
        <a class="btn btn-light-grey" asp-action="Create">Create New</a>
    }
</div>
<br />
<div class="productIndex">
 <table class="table">
    <thead>
        <tr>
            <th class="currName">
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th class="currDescription">
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th class="currSubject">
                @Html.DisplayNameFor(model => model.Subject)
            </th>
            <th class="currGrade">
                @Html.DisplayNameFor(model => model.Grade)
            </th>

        </tr>
    </thead>
    <tbody class="curriculum-table">
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <a class="nav-link text-orange" asp-controller="Products" asp-action="Details" asp-route-id="@item.Id">@Html.DisplayFor(modelItem => item.Name)</a>
                </td>
                <td class="productDescription">
                    
                      @Html.DisplayFor(modelItem => item.Description)
                    
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Subject)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Grade)
                </td>
                @if (String.IsNullOrEmpty(@item.Image))
                {
                    <td>
                        <img src="~/images/LogoMakr_0Vw3E3.png" style="max-height: 75px; max-width: 75px;" />
                    </td>
                }
                else
                {


                    <td>
                        <img src="~/images/@item.Image" alt="" style="max-height: 75px; max-width: 75px;" />

                    </td>



                }
            </tr>
        }
    </tbody>
   </table>
</div>
